<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>callback 리스트</title>
</head>
<body>
    <div>
        <div class="title"><h2>callback list</h2></div>
        <div>
            <div>콜백 전화번호를 등록하세요</div>
            <input type="text" id="inputCallback">
            <button type="button" id="submitCallback" onclick="location.href='/'"></button>>
        </div>
    </div>
</body>
</html>